asn1crypto==1.3.0
blinker==1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.8
cycler==0.10.0
docopt==0.6.2
Flask==1.1.1
Flask-WTF==0.14.2
future==0.18.2
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
livereload==2.6.1
MarkupSafe==1.1.1
matplotlib==3.1.3
nltk==3.4.5
numpy==1.18.1
oauthlib==3.0.1
olefile==0.46
pandas==1.0.2
pickle5==0.0.9
Pillow==8.1.1
pycosat==0.6.3
pycparser==2.19
PyHive==0.6.1
PyJWT==1.7.1
pykerberos==1.2.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
PyYAML==5.3.1
requests==2.22.0
requests-kerberos==0.12.0
requests-oauthlib==1.2.0
ruamel-yaml==0.15.87
sasl==0.2.1
scipy==1.4.1
shortuuid==1.0.1
six==1.14.0
SQLAlchemy==1.3.15
thrift==0.13.0
thrift-sasl==0.3.0
tornado==6.0.4
tqdm==4.42.1
urllib3==1.25.8
Werkzeug==0.16.0
wordcloud==1.6.0
WTForms==2.2.1
