{% extends "parent.html" %}
{% block title %}Error{% endblock %}

{% block header %}
    Something went wrong!
{% endblock %}

{% block paragraph %} 
   It's not your fault. 
   <br>
   Please try again later!
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <img src="../static/img/sad-panda.png" alt="sad-panda" height="300"/>
</div>
{% endblock %}

{% block custom %}
<div class="row justify-content-center">
    <a href={{next_page}} id=button_alert class="btn btn-lg btn-primary">Try again</a> 
</div>
{% endblock %}
