<html>
    <head>
        <title>Twitter Guess Who</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
    </head>
    <body>
        <h2>Welcome to</h2>
        <h1>Twitter Guess Who</h1>
    </body>
</html>