<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- main.css -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}" media="screen"/>
        <link rel="icon" href="data:,">

        <!--JS block-->
        {% block js %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <div class="container-fluid" class="mx-auto" style="width: 200px;">

            <h1 class="text-center">{% block header %}{% endblock %}</h1>

            <div class="text-center">
                <p>{% block paragraph %}{% endblock %}</p>
            </div>
            
            <div class="text-center">
                <p>{% block content %}{% endblock %}</p> 
            </div>

            <div class="text-center">
                <p class="font-italic"><small>{% block disclaimer %}{% endblock %}</small></p> 
            </div>

        </div class="container-fluid">

        <div>

            <div class="text-center">
                <p>{% block custom %}{% endblock %}</p> 
            </div>

        </div>

    </body>

</html>