{% extends "parent.html" %}
{% block title %}Play{% endblock %}

{% block header %}
    You're all set up!
{% endblock %}

{% block paragraph %}
{% endblock %}

{% block content %}
    <img src={{gif_url}} alt="animated" height="300"/>
{% endblock %}

{% block custom %}
    <a href={{next_page}} id=button_alert class="btn btn-lg btn-primary">Start playing</a>
{% endblock %}

{% block disclaimer %}
Disclaimer: following GIFS are randomly generated. We will not take responsibility for any distress caused.
{% endblock %}



