{% extends "parent.html" %}
{% block title %}Round2{% endblock %}

{% block header %}
    Round2
{% endblock %}

{% block paragraph %}
    Here are the Twitter bios for each user.
    <br>
    Match them up for 1 point each.
{% endblock %}

{% block content %}
{% endblock %}

{% block custom %}
<div class="container-fluid">
    <form action="" method="post" novalidate>
        {{ form_list.hidden_tag() }}
    <div class="row">
        {% for i in range(0, n) %}
            <div class="col-sm">  
            <img src="{{url_for('static', filename=wc_paths[i])}}" height="300"/>
            {{form_list.select_forms[i].select.label}} {{form_list.select_forms[i].select}}
            </div>
        {% endfor %}
    </div>
    <br>
    <input class="btn btn-lg btn-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}

