{% extends "parent.html" %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $(function() {
      $('a#button_alert').bind('click', function() {
          alert("You might have to wait a few seconds while we fetch some data... Close to continue.");
          });
          });
</script>
{% endblock %}

{% block title %}Setup{% endblock %}

{% block header %}
    Setup Users
{% endblock %}

{% block content %}
    {% if num_users <= 5 %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <input class="btn btn-sm btn-primary" type="submit" value="Add">
    </form>
    {% endif %}
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <p>
        {% for message in messages %}
        <p> {{ message }} </p>
        {% endfor %}
    </p>
    {% endif %}
    {% endwith %}

    {% if num_users != 0 %}
        <a href={{next_page}} id=button_alert class="btn btn-lg btn-primary">Go to first round</a>
    {% endif %}
{% endblock %}