{% extends "parent.html" %}
{% block title %}Setup{% endblock %}

{% block header %}
    Setup Users
{% endblock %}

{% block paragraph %} 
    Insert up to six users
{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
    </form>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <a href={{next_page}} class="btn btn-lg btn-primary">Go to first round</a>
{% endblock %}